<h1>
  Leads
</h1>
<!-- hide the response until the 'reponse' is ready -->
<div *ngIf="response">
  <div class="row">
    <div class="col-sm-6 col-xs-12" *ngFor="let user of response">
      <div class="card">
        <div class="card-block">
          <div class="card-text">
            <div class="row">
              <div class="col-xs-3">
                <img src="{{user.image}}" class="rounded-image email-image">
              </div>
              <div class="col-xs-9">
                <h4>{{user.name}}</h4>
                <div>Email: {{user.email}}</div>
                <div>Phone: {{user.phone}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>